{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="csrf_token" content="{{ csrf_token }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Geo App for Prottoy's Home</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
  <script>
      // Add a global error event listener early on in the page load, to help ensure that browsers
      // which don't support specific functionality still end up displaying a meaningful message.
      window.addEventListener('error', function(error) {
        if (ChromeSamples && ChromeSamples.setStatus) {
          console.error(error);
          ChromeSamples.setStatus(error.message + ' (Your browser may not support this feature.)');
          error.preventDefault();
        }
      });
    </script>
    <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <style>
        #map{
            height: 150vh;
            width: 100%;
           
        }

        .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


    </style>
</head>

<body>

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Geo App for Nahian's Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://www.facebook.com">Welcome</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<p id="demo">hello</p>
    <form>
  <label for="allAdvertisements">All Advertisements</label>
  <input id="allAdvertisements" type="checkbox">
  <input id="name" type="text" size=17 placeholder="Device Name">
  <input id="namePrefix" type="text" size=17 placeholder="Device Name Prefix">
  <input id="device_number" type="text" size=17 placeholder="Device Number">
  <button>Scan for Bluetooth Advertisements</button>
</form>

<div id="output" class="output">
  <div id="content"></div>
  
  <pre id="log"></pre>
  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-12 text-center">
        <h1 class="mt-5">GeoApp developed by Nahian Islam</h1>
        <p class="lead">You are now looking at the floor plan of my home stored in the Database</p>
  

        <!--<div id='map'>{{ my_map|safe }}</div>-->
        
        <ul class="list-unstyled">
          <li>Developed by Nahian Islam</li>
          <li>2022</li>
        </ul>
      </div>
    </div>
  </div>
  <!--
<script type="text/javascript">
    //console.log("hello");
    var map="{{my_map}}";
    //var map = L.map('map').setView([23.762433884,90.3709100303], 19);
    console.log(map);
    L.marker([23.762433884,90.3709100303]).addTo(map)
    .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
    .openPopup();
console.log("hello");

</script>-->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static '/jquery/jquery.slim.min.js' %}"></script> 
  <div id="map"></div>
  <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script>
  if('serviceWorker' in navigator) {
   navigator.serviceWorker.register('service-worker.js');
  }
</script>
  
 







<script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
<script>
  window.addEventListener('DOMContentLoaded', function() {
    const searchParams = new URL(location).searchParams;
    const inputs = Array.from(document.querySelectorAll('input[id]'));

    inputs.forEach(input => {
      if (searchParams.has(input.id)) {
        if (input.type == 'checkbox') {
          input.checked = searchParams.get(input.id);
        } else {
          input.value = searchParams.get(input.id);
          input.blur();
        }
      }
      if (input.type == 'checkbox') {
        input.addEventListener('change', function(event) {
          const newSearchParams = new URL(location).searchParams;
          if (event.target.checked) {
            newSearchParams.set(input.id, event.target.checked);
          } else {
            newSearchParams.delete(input.id);
          }
          history.replaceState({}, '', Array.from(newSearchParams).length ?
              location.pathname + '?' + newSearchParams : location.pathname);
        });
      } else {
        input.addEventListener('input', function(event) {
          const newSearchParams = new URL(location).searchParams;
          if (event.target.value) {
            newSearchParams.set(input.id, event.target.value);
          } else {
            newSearchParams.delete(input.id);
          }
          history.replaceState({}, '', Array.from(newSearchParams).length ?
              location.pathname + '?' + newSearchParams : location.pathname);
        });
      }
    });
  });

</script>





<script>

   
  var ChromeSamples = {
    log: function() {
      var line = Array.prototype.slice.call(arguments).map(function(argument) {
        return typeof argument === 'string' ? argument : JSON.stringify(argument);
      }).join(' ');

      document.querySelector('#log').textContent += line + '\n';
    },

    clearLog: function() {
      document.querySelector('#log').textContent = '';
    },

    setStatus: function(status) {
      document.querySelector('#status').textContent = status;
    },

    setContent: function(newContent) {
      var content = document.querySelector('#content');
      while(content.hasChildNodes()) {
        content.removeChild(content.lastChild);
      }
      content.appendChild(newContent);
    }
  };
</script>






<!--<h1 id="main">hey bro</h1>
////<script>
//number_one=document.getElementById('main')
//var wsStart=`ws://${window.location.host}/ws/socket-server/`

//var socket = new WebSocket(wsStart)
//console.log(endpoint)


//socket.onopen =function(e){
  //  let data = JSON.parse(e.data)
//console.log('Data:',data)
//socket.send(1)
//}


//socket.onmessage=function(e){
  //  let data = JSON.parse(e.data)
//console.log('Data:',data)
//number_one.innerHTML=data.message
//let message = 'hello'
//heer=JSON.stringify({
  //  "message": "hello"
//})
//socket.send(heer)
//socket.send(123)
//console.log("sending:",heer)
//}








</script>
-->


  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    
      <script>
var i; 
var j;
var k;  
var rand1=23.762433884;
var rand2=90.370915;
var nam;
var rss;
var URL = "{% url 'home' %}";
//function hurr(){

//var data = {'nam':nam,'rss':rss, csrfmiddlewaretoken: '{{ csrf_token }}'};
 //   $.post(URL, data)
    
//}
//number_one=document.getElementById('main')
if (window.location.protocol === 'https:')
{
    var wsStart=`wss://${window.location.host}/ws/socket-server/`
}
else
{
    var wsStart=`ws://${window.location.host}/ws/socket-server/`
}
//var wsStart=`ws://d5f9-113-11-39-222.in.ngrok.io/ws/socket-server/`
//https://d5f9-113-11-39-222.in.ngrok.io/
var socket = new WebSocket(wsStart)
//console.log(endpoint)


//socket.onopen =function(e){
  //  let data = JSON.parse(e.data)
//console.log('Data:',data)
//socket.send(1)
//}
async function onButtonClick() {
            
      let filters = [];
      var device_number=document.querySelector('#device_number').value;
      console.log("1");
      let filterName = document.querySelector('#name').value;
      if (filterName) {
        filters.push({name: filterName});
      }

      let filterNamePrefix = document.querySelector('#namePrefix').value;
      if (filterNamePrefix) {
        filters.push({namePrefix: filterNamePrefix});
      }

      let options = {};
      if (document.querySelector('#allAdvertisements').checked) {
        options.acceptAllAdvertisements = true;
      } else {
        options.filters = filters;
      }

      try {
        log('Requesting Bluetooth Scan with options: ' + JSON.stringify(options));
        const scan = await navigator.bluetooth.requestLEScan(options);

        log('Scan started with:');
        log(' acceptAllAdvertisements: ' + scan.acceptAllAdvertisements);
        log(' active: ' + scan.active);
        log(' keepRepeatedDevices: ' + scan.keepRepeatedDevices);
        log(' filters: ' + JSON.stringify(scan.filters));

        navigator.bluetooth.addEventListener('advertisementreceived', event => {
          //log('Advertisement received.');
          
          nam=event.device.name;
          if(device_number=1)
          {
          //log('  Device Name: ' + nam);
          //log('  Device ID: ' + event.device.id);
          //log('  RSSI: ' + event.rssi);
          rss1=event.rssi;
          heer=JSON.stringify({
        "rss":[1,rss1]
    })
          i=1;
          console.log("Prottoy",device_number);
          }
          
      //else
        //{i=0;j=0;k=0;}
          
          //hurr();
          //log('  TX Power: ' + event.txPower);
          //log('  UUIDs: ' + event.uuids);
          event.manufacturerData.forEach((valueDataView, key) => {
          //  logDataView('Manufacturer', key, valueDataView);
          });
          event.serviceData.forEach((valueDataView, key) => {
           // logDataView('Service', key, valueDataView);
          });
        });

        //setTimeout(stopScan, 10000);
        //function stopScan() {

          //log('Stopping scan...');
          //scan.stop();
          //rss=0;
          ///nam='stop';
          //hurr();
         // log('Stopped.  scan.active = ' + scan.active);
       // }
      } catch(error)  {
        log('Argh! ' + error);
      }
    }

    //socket.onopen=function()
//{
    //socket.send(heer3)
    //test();
    

    //heer1=JSON.stringify({
     //   "nam": ["Prottoy","Propar","Propatch"],"rss":[-50,-50,-50]
    //})
    //heer2=JSON.stringify({
     //   "nam": "Propar","rss":-60
    //})
    //heer3=JSON.stringify({
     //   "nam": "Propatch","rss":-70
    //})
    //socket.send(heer1)
    //socket.send(heer2)
    //socket.send(heer3)
    //}
    //number_one.innerHTML=data.message
    //let message = 'hello'
    //heer=JSON.stringify({
     //   "message": "hello"/
    //})
    //socket.send(heer)
    //socket.send(123)
    //console.log("sending:",heer)
    //}

            

    /* Utils */

    const logDataView = (labelOfDataSource, key, valueDataView) => {
      const hexString = [...new Uint8Array(valueDataView.buffer)].map(b => {
        return b.toString(16).padStart(2, '0');
      }).join(' ');
      const textDecoder = new TextDecoder('ascii');
      const asciiString = textDecoder.decode(valueDataView.buffer);
      log(`  ${labelOfDataSource} Data: ` + key +
          '\n    (Hex) ' + hexString +
          '\n    (ASCII) ' + asciiString);
         //   hurr();
    };
    var map = L.map('map',{minZoom : 9, maxZoom : 30}).setView([23.762433884,90.3709100303], 21);
    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      /////  attribution: //'//<!--&copy; <a href="https://www.openstreetmap.org/copyright"////>OpenStreetMap</a> contributors'-->
    });
    osm.addTo(map);

    /*===================================================
                          MARKER               
    ===================================================*/

    var patches = L.icon({
        iconUrl: "{% static "patches.png" %}",
        //shadowUrl: 'leaf-shadow.png',

        iconSize:     [48, 48], // size of the icon
        //shadowSize:   [50, 64], // size of the shadow
       // iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
       // shadowAnchor: [4, 62],  // the same for the shadow
       // popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });

    $.getJSON("{% static "floor.geojson" %}",function(data){
    // L.geoJson function is used to parse geojson file and load on to map
    L.geoJson(data).addTo(map);
    });
    $.getJSON("{% static "C4.geojson" %}",function(data){
    // L.geoJson function is used to parse geojson file and load on to map
    L.geoJson(data).addTo(map);
    });
    //map.removeLayer(marker);
    heer3=JSON.stringify({
        "rss":[-68, -67, -70]
    })
    //socket.onopen=function(){
    //socket.send(heer3)
    //}
    var data;
    var marker;
    socket.onopen=function()
    {
    marker=L.marker([rand1, rand2], {icon: patches}).addTo(map);
    //marker.addTo(map);


    socket.onmessage=function(e){
        data = JSON.parse(e.data)
    //console.log('Data:',data)
    console.log('Data:',data.rss[0]);
    console.log('Data:',data.rss[1]);
    if(data.rss[0]>0)
    {
    map.removeLayer(marker);
    marker=L.marker([data.rss[0], data.rss[1]], {icon: patches}).addTo(map);
    //marker.addTo(map);
    }
    //console.log('Data:',data.position.lon)
    }

}
//console.log('Data:',JSON.parse(e.data));
//console.log('Data:',data.rss[1]);
//var marker=L.marker([data.rss[0], data.rss[1]], {icon: patches}).addTo(map);
//var marker = L.marker([rand1,rand2]);
//marker.addTo(map);
//var popup = marker.bindPopup('Your location')
//popup.addTo(map);

</script>
<script>
  document.querySelector('form').addEventListener('submit', function(event) {
    event.stopPropagation();
    event.preventDefault();

    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      onButtonClick();
    }
  });

</script>

<script>
  log = ChromeSamples.log;

  function isWebBluetoothEnabled() {
    if (navigator.bluetooth) {
      return true;
    } else {
      ChromeSamples.setStatus('Web Bluetooth API is not available.\n' +
          'Please make sure the "Experimental Web Platform features" flag is enabled.');
      return false;
    }
  }
</script>
<script>
      /* jshint ignore:start */
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53563471-1', 'auto');
      ga('send', 'pageview');
      /* jshint ignore:end */
    </script>


<!--<script src="./data/usstates.js"></script>-->
<!--

    /*===================================================
                      OSM  LAYER               
===================================================*/

    

//
/*===================================================
                     TILE LAYER               
===================================================*/

//var CartoDB_DarkMatter = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
//: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
//subdomains: 'abcd',
//    maxZoom: 19
//});
//CartoDB_DarkMatter.addTo(map);

// Google Map Layer

//googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
  //  maxZoom: 20,
   // subdomains:['mt0','mt1','mt2','mt3']
 //});
 //googleStreets.addTo(map);

 // Satelite Layer
//googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
 //  maxZoom: 20,
  // subdomains:['mt0','mt1','mt2','mt3']
 //});
//googleSat.addTo(map);

//var Stamen_Watercolor = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
 //attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
//subdomains: 'abcd',
//minZoom: 1,
//maxZoom: 16,
//ext: 'jpg'
//});
//Stamen_Watercolor.addTo(map);


/*===================================================
                      GEOJSON               
===================================================*/

//var linedata = L.geoJSON(floor).addTo(map);
//var pointdata = L.geoJSON(C4).addTo(map);
//var Data = L.geoJSON(floor).addTo(map);
//var Data2 = L.geoJSON(C4).addTo(map);
//var polygondata = L.geoJSON(floor).addTo(map)
//,{
 //   onEachFeature: function(feature,layer){
  //      layer.bindPopup('<b>This is a </b>' + crs.properties.name)
   // },
   // style:{
    //    fillColor: 'red',
    //    fillOpacity:1,
     //   color: 'green'
   // }
//}).addTo(map)

/*===================================================
                      LAYER CONTROL               
===================================================*/

//var baseLayers = {
    //"Satellite":googleSat,
   // "Google Map":googleStreets,
   // "Water Color":Stamen_Watercolor,
   // "OpenStreetMap": osm,
//};

//var overlays = {
//    "Marker": singleMarker,
 //   "PointData":pointdata,
//    "LineData":LineData//"PolygonData":polygondata
//};

//L.control.layers(baseLayers, overlays).addTo(map);


/*===================================================
                      SEARCH BUTTON               
===================================================*/

//L.Control.geocoder().addTo(map);


/*===================================================
                      Choropleth Map               
===================================================*/

//L.geoJSON(statesData).addTo(map);


//function getColor(d) {
 //   return d > 1000 ? '#800026' :
//           d > 500  ? '#BD0026' :
//           d > 200  ? '#E31A1C' :
 //          d > 100  ? '#FC4E2A' :
 //          d > 50   ? '#FD8D3C' :
 //          d > 20   ? '#FEB24C' :
 //          d > 10   ? '#FED976' :
             //         '#FFEDA0';
//}

//function style(feature) {
 //   return {
 //       fillColor: getColor(feature.properties.density),
 //       weight: 2,
 //       opacity: 1,
 //       color: 'white',
 //       dashArray: '3',
  //      fillOpacity: 0.7
  //  };
//}

//L.geoJson(statesData, {style: style}).addTo(map);

//function highlightFeature(e) {
//    var layer = e.target;

 //   layer.setStyle({
 //       weight: 5,
 //       color: '#666',
 //       dashArray: '',
 //       fillOpacity: 0.7
 //   });

 //   if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
 //       layer.bringToFront();
 //   }

 //   info.update(layer.feature.properties);
//}

//function resetHighlight(e) {
//    geojson.resetStyle(e.target);
//    info.update();
//}

//var geojson;
// ... our listeners
//geojson = L.geoJson(statesData);

//function zoomToFeature(e) {
 //   map.fitBounds(e.target.getBounds());
//}

//function onEachFeature(feature, layer) {
//    layer.on({
 //       mouseover: highlightFeature,
 //       mouseout: resetHighlight,
 //       click: zoomToFeature
 //   });
//}

//geojson = L.geoJson(statesData, {
 //   style: style,
 //   onEachFeature: onEachFeature
//}).addTo(map);

//var info = L.control();

//info.onAdd = function (map) {
 //   this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
 //   this.update();
  //  return this._div;
//};

// method that we will use to update the control based on feature properties passed
//info.update = function (props) {
 //   this._div.innerHTML = '<h4>US Population Density</h4>' +  (props ?
 //       '<b>' + props.name + '</b><br />' + props.density + ' people / mi<sup>2</sup>'
 //       : 'Hover over a state');
//};

//info.addTo(map);

//var legend = L.control({position: 'bottomright'});

//legend.onAdd = function (map) {

 //   var div = L.DomUtil.create('div', 'info legend'),
//        grades = [0, 10, 20, 50, 100, 200, 500, 1000],
 //       labels = [];

    // loop through our density intervals and generate a label with a colored square for each interval
 //   for (var i = 0; i < grades.length; i++) {
 //       div.innerHTML +=
 //           '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
 //           grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
 //   }
//
 //   return div;
//};

//legend.addTo(map);


</script>-->
</body>

</html>
